<section>
	<div id="spread">
		<div id="situation">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="challenge">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="power">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="foundation">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="past">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="future">
		<img src="images/tarot/blank.gif">
		</div>
		<div id="self">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="influences">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="hope">
			<img src="images/tarot/blank.gif">
		</div>
		<div id="outcome">
			<img src="images/tarot/blank.gif">
		</div>
	</div>
</section>